alembic
black
cachetools
cryptography
email-validator
fastapi
httpx
pre-commit
pydantic-settings
pylint
pymysql
pytest
pytest-mock
python-dotenv
python-jose
python-multipart
requests
sqlalchemy
trio
uvicorn
